{% include "linkage/header.html" %}

<body>

<div id="header">
  {% include "linkage/banner.html" %}
  <ul>
    <li><a href="/linkage">Home</a></li>
    <li><a href="/linkage/test">Test</a></li>
    <li><a href="/linkage/results">Results</a></li>
    <li id="current"><a href="/linkage/about">About</a></li>
    <li><a href="/linkage/documentation">Documentation</a></li>
  </ul>
</div>

<br>
<center>
<b>LF Compliance Checker version {{ version }}. Copyright 2010, Linux Foundation</b>
</center>

</body>
				
