{% include "linkage/header.html" %}

<body>

<div id="header">
  {% include "linkage/banner.html" %}
  <ul>
    <li><a href="/linkage/test">Test</a></li>
    <li><a href="/linkage/results">Results</a></li>
    <li><a href="/linkage/documentation">Documentation</a></li>
  </ul>
</div>

{% if error_message %}
  <b>No test result, or error message from cli was:</b>
  <pre>
  {{ error_message }}
  </pre>
{% else %}
  <div id="print">
  <br> <!-- weird firefox 3.6.3 formatting issue -->
  <table hspace = "20" width = "90%" border = "1">
    <tr>
      <td><b>Project: </b>{{ test.project }}</td>
      <td><b>Target: </b>{{ test.target }}</td>
      <td><b>User: </b>{{ test.user }}</td>
      <td><b>Date: </b>{{ test.test_date|date:"M d, Y H:i:s" }}</td>
      <td align = "center" id = "noprint">
        <input type="button" name="doprint" value="Print Results" onClick="javascript:window.print()">
      </td>
    </tr>
  </table> 
  <br>
  <table hspace = "20" width = "90%" border = "1">
    <tr>
      <td><b>Target</b></td>
      <td><b>Target License</b></td>
      <td><b>Dependency</b></td>
      <td><b>Dependency License</b></td>  
    </tr>

    {% for row in master %}
      <tr valign = "top">
        <td>{{ row.file }}</td>
        <td>{{ row.license }}</td>
        {% autoescape off %}
        <td>{{ row.libs }}</td>
        <td>{{ row.licenses }}</td>
        {% endautoescape %}
      </tr>
    {% endfor %}
  </table>
  </div>
{% endif %}

</body>

