{% include "linkage/header.html" %}
  <!-- sets up the divs to control the styling of the main page body -->
  <style type="text/css">@import "/site_media/css/docstyle.css";</style>
</head>

<body>

<div id="header">
  {% include "linkage/banner.html" %}
  <ul>
    <li><a href="/linkage/test">Check<br>Dependencies</a></li>
    <li><a href="/linkage/results">Review<br>Results</a></li>
    <li><a href="/linkage/licenses">Licenses<br>&nbsp;</a></li>
    <li><a href="/linkage/lbindings">License<br>Bindings</a></li>
    <li><a href="/linkage/policy">License<br>Policies</a></li>
    <li><a href="/linkage/settings">Settings<br>&nbsp;</a></li>
    <li id="current"><a href="/linkage/documentation">Documentation<br>&nbsp;</a></li>
  </ul>
</div>

<div>
  <center>
    <b>{{ name }} version {{ version }}.</b>
  </center>
</div>

{% autoescape off %}
{{ gui_docs }}
{% endautoescape %}


