{% include "linkage/header.html" %}

<body>

<div id="header">
  {% include "linkage/banner.html" %}
  <ul>
    <li><a href="/linkage">Home</a></li>
    <li><a href="/linkage/test">Test</a></li>
    <li><a href="/linkage/results">Results</a></li>
    <li><a href="/linkage/about">About</a></li>
    <li id="current"><a href="/linkage/documentation">Documentation</a></li>
  </ul>
</div>

<br>
<center>
<b>LF Compliance Checker version {{ version }}. Copyright 2010, Linux Foundation</b>
</center>

<div style="overflow:auto; height:300px; width:100%">
  <table cellpadding="0" cellspacing="0" hspace="20px" width="90%" >
    <tr>
      <td>
        {% include "linkage/README.html" %}
      </td>
    </tr>
  </table>
</div>

</body>
				
