{% extends "linkage/base.html" %}
{% block header %}
  <!-- container div for 2 tables side-by-side -->
  <style type="text/css">@import "/site_media/css/containers.css";</style>
  <script type="text/javascript" src="/site_media/js/checklist.js"></script>
</head>
{% endblock %}

{% block content %}
<div class="container" id="target_form">
<form name="targetlicenseform" method="post" action="" enctype="multipart/form-data">   
  <table border="1" width="460" cellspacing="1" style='table-layout:fixed'>
    <col width=25>
    <col width=35>
    <col width=160>
    <col width=120>
    <col width=90>
    <tr>
      <th colspan=2 align="right">Target:<br>License:</th>
      <td colspan=2 align="center">{{ targetlicenseform.file }}<br>{{ targetlicenseform.license }}</td>
      <td><input type="submit" name="submit" value="Add Target
Binding" /></td>
    </tr>
    <tr align="center">
      <td><input type="checkbox" name="selectall" 
                 onclick="toggleall(this.form,'flcheck','selectall')" />
      </td>
      <td colspan=2>
        <input type="submit" name="submit" value="Delete Selected
Target Bindings" 
               onclick="buildlist(this.form,'flcheck','targetlicenselist')" />
      </td>
      <td colspan=2>
        <input type="submit" name="submit" value="Update Target
Test Data" />
      </td>
    <tr>
      <td></td>
      <th colspan=2>Target</th>
      <th colspan=2>License</th>
    </tr>
    </tr>
  {% for target in latest_targetlicense_list %}
    <tr>
      <td align="center"><input type="checkbox" name="flcheck" value="{{ target.id }}" /></td>
      <td colspan=2>{{ target.file }}</td>
      <td colspan=2>{{ target.license }}</td>
    </tr>
  {% endfor %}
  </table>
  <input type="hidden", name="targetlicenselist", value="" />
</form>

{% if not latest_targetlicense_list %}
   <br>
   <b>No target bindings are available.</b>
{% endif %}
</div>

<div class="container" id="library_form">
<form name="liblicenseform" method="post" action="" enctype="multipart/form-data">   
  <table border="1" width="460" cellspacing="1" style='table-layout:fixed'>
    <col width=25>
    <col width=35>
    <col width=160>
    <col width=120>
    <col width=90>
    <tr>
      <th colspan=2 align="right">Library:<br>License:</th>
      <td colspan=2 align="center">{{ liblicenseform.library }}<br>{{ liblicenseform.license }}</td>
      <td><input type="submit" name="submit" value="Add Library
Binding" /></td>
    </tr>
    <tr align="center">
      <td><input type="checkbox" name="selectall" 
                 onclick="toggleall(this.form,'llcheck','selectall')" />
      </td>
      <td colspan=2>
        <input type="submit" name="submit" value="Delete Selected
Library Bindings" 
               onclick="buildlist(this.form,'llcheck','liblicenselist')" />
      </td>
      <td colspan=2>
        <input type="submit" name="submit" value="Update Library
Test Data" />
      </td>
    </tr>
    <tr>
      <td></td>
      <th colspan=2>Library</th>
      <th colspan=2>License</th>
    </tr>
  {% for lib in latest_liblicense_list %}
    <tr>
      <td align="center"><input type="checkbox" name="llcheck" value="{{ lib.id }}" /></td>
      <td colspan=2>{{ lib.library }}</td>
      <td colspan=2>{{ lib.license }}</td>
    </tr>
  {% endfor %}
  </table>
  <input type="hidden", name="liblicenselist", value="" />
</form>

{% if not latest_liblicense_list %}
   <br>
   <b>No library bindings are available.</b>
{% endif %}
</div>

{% endblock %}

