{% extends "linkage/base.html" %}
{% block header %}
<script type="text/javascript" src="/site_media/js/checklist.js"></script>
</head>
{% endblock %}

{% block content %}
<form name="licenseform" method="post" action="" enctype="multipart/form-data">   
  <p>In this page, users create references to the various licenses used in 
     their products to allow them to define policies around linkages made between 
     binaries and libraries available under licenses.</p>
  <table width = "100%" border="1">
    <tr align="center">
      <td></td>
      <th>License</th>
      <th>Version</th>
      <td></td>
    </tr>
    <tr align="center">
      <td></td>
      <td>{{ licenseform.license }}</td>
      <td>{{ licenseform.version }}</td>
      <td><input type="submit" name="submit" value="Add License" /></td>
    </tr>
    <tr align="center">
      <td><input type="checkbox" name="selectall" 
                 onclick="toggleall(this.form,'licensecheck','selectall')" />
      </td>
      <td>
        <input type="submit" name="submit" value="Delete Selected Licenses" 
               onclick="buildlist(this.form,'licensecheck','licenselist')" />
      </td>
      <td></td>
      <td></td>
    </tr>

    {% for lic in latest_license_list %}
    <tr>
      <td align="center"><input type="checkbox" name="licensecheck" value="{{ lic.id }}" /></td>
      <td>{{ lic.license }}</td>
      <td>{{ lic.version }}</td>
      <td></td>
    </tr>
    {% endfor %}
  </table>
  <input type="hidden", name="licenselist", value="" />
</form>

{% if not latest_license_list %}
  <br>
  <b>No licenses are available.</b>
{% endif %}

{% endblock %}
