{% include "linkage/header.html" %}

<body onload="setdefaults();">

<div id="header">
  {% include "linkage/banner.html" %}
  <ul>
    <li id="current"><a href="/linkage/test">Test</a></li>
    <li><a href="/linkage/results">Results</a></li>
    <li><a href="/linkage/documentation">Documentation</a></li>
  </ul>
</div>


<b>Create Test:</b>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form name="entryform" method="post" action="" enctype="multipart/form-data">
<!-- FIXME - probably not the django way of doing things, 
     but I wasn't happy with testform.as_table -->

<table halign="left">
  <tr align="left">
    <td align="right"><b>{{ testform.do_search.label }}:</b></td>
    <td><input type="checkbox" name="do_search" onclick="toggledisabled()" /></td>
  </tr>
  <tr>   
    <td align="right"><b>{{ testform.target_dir.label }}:</b></td>
    <td>{{ testform.target_dir }}</td>
    <td><input type="button" name="targetdirname" value="Select Dir" 
            onchange="filenametoentry(document.entryform.targetdirname, document.entryform.target_dir)"
            onclick="dobrowse('dir')"/></td>
  </tr>
  <tr>
    <td align="right"><b>{{ testform.recursion.label }}:</b></td>
    <td>{{ testform.recursion }}</td>
  </tr>      
  <tr>
    <td align="right"><b>{{ testform.target.label }}:</b></td>
    <td>{{ testform.target }}</td>
    <td><input type="button" name="targetfilename" value="Select File"
            onchange="filenametoentry(document.entryform.targetfilename, document.entryform.target)"
            onclick="dobrowse('file')"/></td>
  </tr>      
  <tr>
    <td align="right"><b>{{ testform.user.label }}:</b></td>
    <td>{{ testform.user }}</td>
  </tr>      
  <tr>
    <td align="right"><b>{{ testform.project.label }}:</b></td>
    <td>{{ testform.project }}</td>
  </tr>      
  <tr>
    <td align="right"><b>{{ testform.comments.label }}:</b></td>
    <td>{{ testform.comments }}</td>
  </tr>      

  <tr>
    <td></td>
    <td></td>
    <td><input type="submit" name="submit" value="Run Test" /></td>
  </tr>
</table>

<script language="JavaScript">
    function setdefaults() {
        document.entryform.target_dir.disabled = true;
        document.entryform.targetdirname.disabled = true;
        document.entryform.do_search.onClick = "toggledisabled()";
    }
    function toggledisabled() {
        if (document.entryform.do_search.checked == true) {
            document.entryform.target_dir.disabled = false;
            document.entryform.targetdirname.disabled = false;
            document.entryform.targetfilename.disabled = true;
        } else {
            document.entryform.target_dir.disabled = true;
            document.entryform.targetdirname.disabled = true;
            document.entryform.targetfilename.disabled = false;
        }
    }
    function filenametoentry(selector, entry) {
        entry.value = selector.value;
        data = selector.select();
        alert(data);
    }
    function dobrowse(where) {
        alert_string = "browse for " + where; 
        alert(alert_string);
    }
    function extract(what) {
        if (what.indexOf('/') > -1)
            answer = what.substring(what.lastIndexOf('/')+1,what.length);
        else
            answer = what.substring(what.lastIndexOf('\\')+1,what.length);
        alert(answer);
    }            
</script>
</form>


