{% extends "linkage/base.html" %}
{% block header %}
  <!-- for the file browser -->
  <style type="text/css" media="screen">@import "/site_media/css/jqueryFileTree.css";</style>
  <style type="text/css">@import "/site_media/css/containers.css";</style>
  <script type="text/javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/site_media/js/jqueryFileTree.js"></script>
</head>
{% endblock %}


{% block content %}

<b>Create Test:</b>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form name="entryform" method="post" action="" enctype="multipart/form-data">

<div class="container" id="entry_form">
<table halign="left">
  <tr align="left">
    <td align="right"><b>{{ testform.do_search.label }}:</b></td>
    <td><input type="checkbox" name="do_search" onclick="toggledisabled()" /></td>
  </tr>
  <tr>   
    <td align="right"><b>{{ testform.target_dir.label }}:</b></td>
    <td>{{ testform.target_dir }}</td>
    <td><input type="button" name="targetdirname" value="Select Dir" 
            onclick="toggle_visibility('target_select')"/></td>
  </tr>
  <tr>
    <td align="right"><b>{{ testform.recursion.label }}:</b></td>
    <td>{{ testform.recursion }}</td>
  </tr>      
  <tr>
    <td align="right"><b>{{ testform.target.label }}:</b></td>
    <td>{{ testform.target }}</td>
    <td><input type="button" name="targetfilename" value="Select File"
            onclick="toggle_visibility('target_select')"/></td>
  </tr>      
  <tr>
    <td align="right"><b>{{ testform.user.label }}:</b></td>
    <td>{{ testform.user }}</td>
  </tr>      
  <tr>
    <td align="right"><b>{{ testform.project.label }}:</b></td>
    <td>{{ testform.project }}</td>
  </tr>      
  <tr>
    <td align="right"><b>{{ testform.comments.label }}:</b></td>
    <td>{{ testform.comments }}</td>
  </tr>      

  <tr>
    <td></td>
    <td></td>
    <td><input type="submit" name="submit" value="Run Test" /></td>
  </tr>
</table>
</div>
	
<div class="container" id="target_select"> 
	<div id="target" class="browser"></div> 
</div>
</form>

{% endblock %}

{% block scripts %}
<script language="JavaScript">
    $(document).ready( function() {
        $('#target').fileTree({
            root: '/',
            script: '/linkage/dirlist/',
            loadMessage: 'waiting to load'
            }, function(file) {
                filenametoentry(file);
        });
    });
    function setdefaults() {
        document.entryform.target_dir.disabled = true;
        document.entryform.targetdirname.disabled = true;
        document.entryform.do_search.onClick = "toggledisabled()";
        document.getElementById('target_select').style.display = 'none';
    }
    function toggledisabled() {
        if (document.entryform.do_search.checked == true) {
            document.entryform.target_dir.disabled = false;
            document.entryform.targetdirname.disabled = false;
            document.entryform.targetfilename.disabled = true;
            document.entryform.target.value = '';
        } else {
            document.entryform.target_dir.disabled = true;
            document.entryform.targetdirname.disabled = true;
            document.entryform.targetfilename.disabled = false;
            document.entryform.target_dir.value = '';
        }
    }
    function filenametoentry(filename) {
        lastchar = filename.slice(-1);
        if (document.entryform.do_search.checked == true) {
            // drop the trailing "/" on a dir, ignore files
            if (lastchar == '/') {
                filename = filename.slice(0, -1);
                document.entryform.target_dir.value = filename;
            }
        } else {
            if (lastchar == '/')
                filename = filename.slice(0, -1);
            // here we accept a file or dir
            document.entryform.target.value = filename;
        }
    }
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }
</script>

{% endblock %}

