[Desktop Entry]
Name=Linux Foundation Dependency Checker Tool
GenericName=Deps Checker
Comment=Analyse linkage dependencies for FOSS software
Exec=/opt/linuxfoundation/bin/dep-checker.sh
Icon=/opt/linuxfoundation/share/icons/hicolor/16x16/apps/lf_small.png
Terminal=false
TryExec=/opt/linuxfoundation/bin/dep-checker.sh
Type=Application
MimeType=
Categories=Development
